{% extends 'customer/base.html' %}
{% load static %}
{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 text-center">
            <h1>About Us!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 p-4 text-center custom-bottom-offset">
            <p>
                Welcome to our culinary world, where flavors dance and memories are made. Meet <span class="font-weight-bold" style="font-size: 1.1em;">Chef Nada</span>, our
                Mediterranean food expert, with over 15 years of culinary mastery. Born and raised in the heart of the
                Mediterranean, Chef Nada's journey began with a deep-rooted passion for the vibrant and diverse flavors
                of her homeland. With years of experience delivering culinary excellence, Chef Nada brings a wealth of
                knowledge and creativity to every dish she crafts. From sizzling grills to aromatic spices, her dishes
                are a symphony of taste and tradition, curated to delight even the most discerning palates. Join us on a
                gastronomic adventure where each bite tells a story of passion, culture, and the timeless allure of
                Mediterranean cuisine.
            </p>
            <p>
                At <span class="font-weight-bold" style="font-size: 1.1em;">Nada’s Kitchen</span>, we specialise in bespoke catering services, bringing the essence of the Mediterranean to
                your events and gatherings. Unlike a traditional restaurant, our focus is on crafting <span class="font-weight-bold" style="font-size: 1.1em;">personalised
                culinary experiences</span> tailored to each client's unique preferences and event themes. To ensure the
                highest quality and attention to detail, we kindly request a <span class="font-weight-bold" style="font-size: 1.1em;">48-hour notice</span> for all orders. This lead
                time allows us to source the freshest ingredients and prepare dishes that meet our exacting standards.
                Whether you are planning a corporate event, a family reunion, or a special celebration, trust us to
                transform your occasion with exquisite flavors that capture the heart of Mediterranean hospitality.
            </p>
            
            
            
        </div>
    </div>
</div>
{% endblock content %}