{% extends 'customer/base.html' %}
{% load static %}
{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 text-center">
            <h1>About Us!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 p-4 text-center custom-bottom-offset">
            <p>
                Welcome to our culinary world, where flavors dance and memories are made. Meet Chef Nada, our
                Mediterranean food expert, with over 15 years of culinary mastery. Born and raised in the heart of the
                Mediterranean, Chef Nada's journey began with a deep-rooted passion for the vibrant and diverse flavors
                of her homeland. With years of experience delivering culinary excellence, Chef Nada brings a wealth of
                knowledge and creativity to every dish she crafts. From sizzling grills to aromatic spices, her dishes
                are a symphony of taste and tradition, curated to delight even the most discerning palates. Join us on a
                gastronomic adventure where each bite tells a story of passion, culture, and the timeless allure of
                Mediterranean cuisine.
            </p>
        </div>
    </div>
</div>
{% endblock content %}