{% extends 'customer/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Main Content Here -->
  <div class="row justify-content-center">
    <div class="card o-hidden border-0 shadow-lg my-5 col-lg-5">
      <div class="card-body text-center">
        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
        <p><span class="font-weight-bold">User Name:</span> {{ user.username }}</p>
        <p><span class="font-weight-bold">Email:</span> {{ user.email }}</p>
        <p><span class="font-weight-bold">Phone Number:</span> {{ user.profile.phone_number }}</p>
        <p><span class="font-weight-bold">Last Login:</span> {{ user.last_login }}</p>
        <a href="{% url 'profile_update' %}" class="btn btn-sm btn-dark shadow-sm">Update Profile</a>
      </div>
      <div class="card-body">
        <h2>Order History</h2>
        {% if orders %}
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Order ID</th>
              <th scope="col">Total Price</th>
              <th scope="col">Delivery Date</th>
            </tr>
          </thead>
          <tbody>
            {% for order in orders %}
            <tr data-toggle="collapse" data-target="#orderItems{{ order.id }}" class="accordion-toggle">
              <td>{{ order.id }}</td>
              <td>€{{ order.price }}</td>
              <td>{{ order.delivery_date }}</td>
            </tr>
            <tr>
              <td colspan="3" class="hiddenRow">
                <div class="collapse" id="orderItems{{ order.id }}">
                  <ul>
                    {% for item in order.items.all %}
                    <li>{{ item.name }} - €{{ item.price }}</li>
                    {% endfor %}
                  </ul>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p>You have no previous orders.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}